.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  border: 1px solid rgba(0,0,0,.2);
  cursor: pointer;

  transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background: rgba(91, 91, 91, 0.5);
  }
}

